.hide-button {
    padding: 0.7rem;
    position: absolute;
    right: 0;
    left: 0;
    bottom:0;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}

/* content boxes */
.content-box{
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
    margin-left: 2em;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #4b4a4a;
    border-radius: 1rem;
    height: 20rem;
}

#error-box {
    border-color: #e74646;
    height: auto;
}