<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
    {%- block page_styles -%} {%- endblock -%}
    <title>{%- block page_title -%} {%- endblock -%} | EDEeval</title>
</head>
<body>
<div class="three-columns-grid">
    <div class="sidebar-nav">
        <span class="page-logo">
            <h1>EDEeval</h1>
        </span>
        <p>You are here:&nbsp{%- block nav_info -%} {%- endblock -%}</p>
        <p id="intro-text">To get started, generate a request by selecting a severity or exposure level.</p>
        <h2>Severity</h2>
        <p>Selecting a severity level will generate request for a random number of attributes at the severity level.</p>
        <div class="button-group">
            <a id="button-low" class="button" href="http://127.0.0.1:5000/customers/low/{{ range(1,6) | random }}">Low</a>
            <a id="button-mod" class="button" href="http://127.0.0.1:5000/customers/mod/{{ range(1,6) | random }}">Moderate</a>
            <a id="button-high" class="button" href="http://127.0.0.1:5000/customers/high/{{ range(1,6) | random }}">High</a>
            <a id="button-none" class="button" href="http://127.0.0.1:5000/customers/none/{{ range(1,6) | random }}">None</a>
        </div>
        <h2>Exposure Level</h2>
        <p>Selecting an exposure level will generate a request with the specified number of attributes at a random severity level.</p>
        <div class="button-group">
            <a id="button-one" class="button" href="http://127.0.0.1:5000/customers/{{ ['low','mod','high'] | random }}/1">1</a>
            <a id="button-two" class="button" href="http://127.0.0.1:5000/customers/{{ ['low','mod','high'] | random }}/2">2</a>
            <a id="button-three" class="button" href="http://127.0.0.1:5000/customers/{{ ['low','mod','high'] | random }}/3">3</a>
            <a id="button-four" class="button" href="http://127.0.0.1:5000/customers/{{ ['low','mod','high'] | random }}/4">4</a>
            <a id="button-five" class="button" href="http://127.0.0.1:5000/customers/{{ ['low','mod','high'] | random }}/2">5</a>
            <a id="button-null" class="button" href="http://127.0.0.1:5000/customers/none/{{ range(1,6) | random }}">NULL</a>
        </div>
    </div>
    <div class="column-a">
        {%- block column_a -%} {%- endblock -%}
    </div>
    <div class="column-b">
        {%- block column_b -%} {%- endblock -%}
    </div>
</div>

</body>
</html>